<!DOCTYPE html>
<html>
  <body>
    <h1>Das ist Caesar</h1>
    <hr>
    <form action="/caesar/do" method="post">
      <label for="klartext">Klartext</label><br>
      <input type="text" id="klartext" name="klartext" value=""><br>
      <label for="key">Key</label><br>
      <input type="number" id="key" name="key" value=""><br>
      <button type="submit">Verschlüsseln</button>
    </form>
    
    <!-- Überprüfen Sie ob das Modellattribut "encrypt" auf true gesetzt ist -->
    <p th:if="${encrypt}">
        <!-- Der verschlüsselte Text wird aus dem Modellattribut "klartext" genommen -->
        Der verschlüsselte Text ist: <span th:text="${klartext}"></span>
    </p>
    <p th:unless="${encrypt}">Nichts ist zu sehen</p>
  </body>
</html>
