<!--Auf dieser Seite passiert genau das Selbe wie bei einrichten.html. Der Unterschied besteht darin, dass die schon vorhandenen Inhalte in den Input-Bereichen angezeigt werden. 
Für mehr Kommentare bitte in einrichten.html reinschauen.-->

<div style=" margin-left: 5%; margin-right: 5%; min-height: 100vh;">
    <div>
        <form class="row g-3" style="margin-top: 5%;" th:action="@{/editPage/do(id=${info.getId}, thema=${thema})}" method="post">
    
            <div class="col-3"></div>
            <div class="col-6" >
                <textarea type="text" class="form-control text-center fs-2" id="inputTitel" th:text="${info.getTitel}" th:name="titel"></textarea>
            </div>
            
            <!--Erklärung am Unterem: Durch th:text="..." werden die Inhalte angezeigt-->
            <div class="col-6">
                <textarea class="form-control" id="inputText1" th:text="${info.getText1}" th:name="Text1"></textarea>
            </div>
            <div class="col-6">
                <textarea type="text" class="form-control" id="inputImgLink1" th:text="${info.getImgLink1}" th:name="ImgLink1"></textarea>
            </div>
            <div class="col-12">
                <textarea style="display: none;" class="form-control" id="inputText2" th:text="${info.getText2}" th:name="Text2"></textarea>
            </div>
            <div class="col-12">
                <textarea style="display: none;" class="form-control" id="inputImgLink2" th:text="${info.getImgLink2}" th:name="ImgLink2"></textarea>
            </div>
            <div class="col-12">
                <textarea style="display: none;" class="form-control" id="inputText3" th:text="${info.getText3}" th:name="Text3"></textarea>
            </div>
            <div class="col-12">
                <textarea style="display: none;" class="form-control" id="inputImgLink3" th:value="${info.getImgLink3}" th:name="ImgLink3"></textarea>
            </div>
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Hinzufügen
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" onclick="showText2()">Text</a></li>
                      <li><a class="dropdown-item" onclick="showBild2()">Bild</a></li>
                      <li><a class="dropdown-item" onclick="showText3()">Text</a></li>
                      <li><a class="dropdown-item" onclick="showBild3()">Bild</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Geänderte Seite speichern</button>
            </div>
        </form>
    </div>
    </div>
    
    <script type="text/javascript">
        function showText2() {
            
            $("#inputText2").show();
        }
        function showBild2() {
            
            $("#inputImgLink2").show();
        }
        function showText3() {
            
            $("#inputText3").show();
        }
        function showBild3() {
            
            $("#inputImgLink3").show();
        }
    </script>