<hr>
<h1>Einrichten einer neuen Seite</h1>
<hr>
<div>
    <form class="row g-3" th:action="@{/einrichten/do}" method="post">

        <div class="col-12">
            <select class="form-select" aria-label="Default select example" id="thema">
                <option selected>Welches Thema</option>
                <option value="technGrundlagen">Techn Grundlagen</option>
                <option value="sicherheitVerfahren">Sicherheit und versch. Verfahren</option>
                <option value="komplexeVerfahren">Komplexe Verfahren</option>
                <option value="angriffe">Angriffe</option>
              </select>
        </div>
        <div class="col-12" >
            <input type="text" class="form-control" id="inputTitel" placeholder="Titel" th:name="titel">
        </div>
        <div class="col-12">
            <input type="text" class="form-control" id="inputText1" placeholder="Text" th:name="Text1">
        </div>
        <div class="col-12">
            <input type="text" class="form-control" id="inputImgLink1" placeholder="ImgLink1" th:name="ImgLink1">
        </div>
        <div class="col-12">
            <input type="hidden" class="form-control" id="Text2" placeholder="Text" th:name="Text2">
        </div>
        <div class="col-12">
            <input type="hidden" class="form-control" id="inputImgLink2" placeholder="ImgLink2" th:name="ImgLink2">
        </div>
        <div class="col-12">
            <input type="hidden" class="form-control" id="inputText3" placeholder="Text" th:name="Text3">
        </div>
        <div class="col-12">
            <input type="hidden" class="form-control" id="inputImgLink3" placeholder="ImgLink3" th:name="ImgLink3">
        </div>
        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Add
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" onclick="showElement()">Text</a></li>
                  <li><a class="dropdown-item" onclick="showElement()">Bild</a></li>
                </ul>
              </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Seite speichern</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function showElement() {
        element = document.querySelector('inputText3');
        element.querySelector.visibility = 'visible';
    }
</script>