<div class="" style="width: 100%; height: 100vh;">
  <h1 class="position-absolute top-50 start-50 translate-middle display-1">Verteilte Systeme</h1>
</div>

<div class="overflow-hidden text-center" style="background-color: burlywood; height: 100vh;">
    <div class="row gy-5" >
      <div class="col-6" style="margin-top: 15%;">
        <div class="p-3">
          <a th:href="@{/uebersicht(thema='technGrundlagen')}" class="btn fs-2" style="color: black;">Technische Grundlagen</a>
        </div>
      </div>
      <div class="col-6" style="margin-top: 15%;">
        <div class="p-3">
          <a th:href="@{/uebersicht(thema='sicherheitVerfahren')}" class="btn fs-2" style="color: black;">Sicherheit & Verfahren</a>
        </div>
      </div>
      <div class="col-6" style="margin-bottom: 10%; margin-top: 10%;">
        <div class="p-3">
          <a th:href="@{/uebersicht(thema='komplexeVerfahren')}" class="btn fs-2" style="color: black;">Komplexe Verfahren</a>
        </div>
      </div>
      <div class="col-6" style="margin-bottom: 10%; margin-top: 10%;">
        <div class="p-3">
          <a th:href="@{/uebersicht(thema='angriffe')}" class="btn fs-2" style="color: black;">Angriffe</a>
        </div>
      </div>
    </div>
  </div>



</div>