<!-- 
  Die Navbar - hier befindet sich die Navigationsbar. Die gesamte Datei wird dynamisch per Link in die index.html eingebunden. Der Vorteil: Wenn du hier etwas änderst, wird das auf allen anderen Seiten ebenfalls übernommen. 
-->
<nav class="navbar navbar-transparent navbar-expand-lg bg-dark container">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/home}">Verteilte Systeme</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li th:if="${activePage == 'techGrundlagen'}" class="nav-item">
            <a class="nav-link active" th:href="@{/techGrundlagen}">Technische Grundlagen</a>
          </li>
          <li th:unless="${activePage == 'techGrundlagen'}" class="nav-item">
              <a class="nav-link" th:href="@{/techGrundlagen}">TEchnische Grundlagen</a>
          </li>

        </ul>
        
      </div>
    </div>
  </nav>