<div style="width: 100%; height: 100vh;">
    <h1 class="position-absolute top-50 start-50 translate-middle display-2" th:text="${titel}"></h1>
</div>

<div style="background-color: burlywood;">
    <div class="row col-12 text-center justify-content-center" >
        <div th:each="ue : ${uebersicht}" class="card bg-transparent border-dark m-3 " style="width: 18rem; margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
            <div class="card-body" style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                <h5 class="card-title" th:text="${ue.getTitel}"></h5>

                <span th:unless="${editMode}==true">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Seite besuchen</a>
                    <div class="modal" id="exampleModal" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" th:href="@{/infoTech(id=${ue.getId}, thema=${thema})}" class="btn btn-primary">Seite besuchen</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </span>
                <span th:if="${editMode}==true">
                    <a th:href="@{/}" class="btn btn-primary position-absolute top-0 start-100 translate-middle"><i class="bi bi-trash"></i></a>
                    <a th:href="@{/editPage(id=${ue.getId}, thema=${thema})}" class="btn btn-primary">Bearbeiten</a>
                </span>
                
            </div>
        </div>
    </div>
</div>
