<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Styling -->
    <style>
      .container {
        max-width: 600px;
      }
      h1 {
        font-family: 'Arial', cursive;
        color: #255da7;
      }
      label {
        font-weight: bold;
      }
      button {
        background-color: blue;
        border: none;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
      }
      p {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Caesar Verschluesselung</h1>
      <hr>
      <form action="/verschluesselung" method="get">
        <div class="form-group">
          <label for="klartext">Klartext</label>
          <input type="text" id="klartext" name="klartext" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="key">Key</label>
          <input type="number" id="key" name="key" value="" class="form-control">
        </div>
        <button type="submit" class="btn btn-block">Verschlüsseln</button>
        <p th:if="${klartext != null and klartext != ''}">Der verschlüsselte Text ist: <span th:text="${klartext}"></span></p>
        <p th:unless="${klartext != null and klartext != ''}">Nichts ist zu sehen</p>
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
